.header-container {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.header-text {
    font-size: 40px;
    color: $color-grey;
}

.header-subtext {
    color: $color-unnaccent;
}
